@import url(/css/css_basic.css);

footer {
  display: block;
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
  margin-top: 50px;
}

a {
  text-decoration: none;
  color
}
/* code {
  color: #e96900;
  background-color: #f8f8f8;
  font-size: 15px;
  padding: 3px;
  font-weight: bolder;
  border-radius: 5px;
} */

.table__text thead th {
  background: #ccc;
  border: 1px solid #222;
}

caption{
  font-size: 1.5em;
  text-decoration:underline;
  color:darkslategray;
  font-weight: bolder;
}