@import url(/css/css_basic.css);

footer {
  display: block;
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
  margin-top: 50px;
}

a {
  text-decoration: none;
  color: #000000;
}
/* code {
  color: #e96900;
  background-color: #f8f8f8;
  font-size: 15px;
  padding: 3px;
  font-weight: bolder;
  border-radius: 5px;
} */

.table__text thead th {
  background: #ccc;
  border: 1px solid #222;
}

caption {
  font-size: 1.5em;
  text-decoration: underline;
  color: darkslategray;
  font-weight: bolder;
}

.reference_site {
  color: indianred;
  text-decoration: underline;
}
#block img {
  display: block;
  margin: 10px;
}
.inline_nav ul {
  background-color: yellow;
}
.inline_nav ul li {
  color: white;
  background-color: blue;
  background-clip: padding-box;
  display: inline;
  margin: 20px;
}
.inline_block_nav ul {
  background-color: yellow;
}
.inline_block_nav ul li {
  color: white;
  background-color: blue;
  background-clip: padding-box;
  display: inline-block;
  margin: 20px;
}
